@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
/*primary color*/
--strong-cyan: hsl(172, 67%, 45%);
/*secondary colors*/
--very-dark-cyan: hsl(183, 100%, 15%);
--darker-grayish-cyan: hsl(186, 14%, 43%);
--dark-grayish-cyan: hsl(184, 14%, 56%);
--light-grayish-cyan: hsl(185, 41%, 84%);
--lighter-grayish-cyan: hsl(189, 41%, 97%);
--white: hsl(0, 0%, 100%);
}


*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: var(--dark-grayish-cyan);
    font-family: "Space Mono", monospace;
    max-width: 375px;
    margin: 0 auto;
}

input{
    -moz-appearance: textfield;
    background-color: var(--lighter-grayish-cyan);
    outline: none;
    border: none;
    /* outline:rgba(236, 92, 92, 0.568); */
    background-repeat: no-repeat;
    background-position: 1rem;
    width: 100%;
    border-radius: 0.25em;
    padding: .25em .75em;
    box-sizing: border-box;
}

.logo{
    text-align: center;
    margin: 2.5rem 0rem 2.5rem 0rem;
}

.container{
    background-color: var(--white);
    border-radius: 1.5em 1.5em 0em 0em;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.partOne{
    margin-top: 1.5rem;
}

label{
    color: var(--darker-grayish-cyan);
    font-weight: 700;
}


.bill-input{
    background-image: url("./images/icon-dollar.svg");
    /* padding: 1rem; */
    margin: .5rem 0rem 1.5rem 0rem;
    text-align: right;
    color: var(--very-dark-cyan);
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 24px;
}

.people-input{
    background-image: url("./images/icon-person.svg");
    /* padding: 1rem; */
    margin: .5rem 0rem 1.5rem 0rem;
    text-align: right;
    color: var(--very-dark-cyan);
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 24px;
}


.tip{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 1rem;
    column-gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 0.7rem;
}

.tips{
    background-color: var(--very-dark-cyan);
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.25em;
    color: var(--white);
    font-weight: 500;
    font-size: 24px;
    cursor: pointer;
}

.active-tip{
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

.error{
    visibility: hidden;
    /* display: inline-block;
    text-align: right; */
    padding-left: 3.3rem; 
    color: #ff0000;
    font-weight: 400;
    font-size: small;
}
#tip-custom input{
    background-color: var(--lighter-grayish-cyan);
    font-weight: 700;
    text-align: right;
    font-size: 24px;
    font-family: "Space Mono", monospace;
}
.result{
    background-color: var(--very-dark-cyan);
    padding: 1.5rem;
    border-radius: 1em;
    /* display: flex; */
}
.tip-amount,
.total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.amount{
    color: var(--strong-cyan);
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: xx-large;
}
.text{
    color: var(--white);
}
.person{
    color: var(--dark-grayish-cyan);
    font-weight: 400;
    font-size: small;
}
.reset{
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
    border-radius: 0.25em;
    padding: 0.5rem;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
}
/* .attribution{
    position: absolute;
    z-index: 100;
} */

@media (min-width: 1200px){
    body{
        max-width: 900px;
    }
    .container{
        flex-direction: row;
        border-radius: 1.5em;
        padding: 2rem;
    }
    .tip{
        grid-template-columns: repeat(3,1fr);
    }
    .result{
        width: 100%;
        margin: 0rem 0rem 0rem 2rem;
        padding: 3rem 2rem 1.5rem 2rem;
    }
    .tip-amount{
        margin-bottom: 3rem;
    }
    .total{
        margin-bottom: 8rem;
    }
    .error{
        padding-left: 8.3rem;
    }
}